$theme_name: 'dark';

// NOTIFICATION & ALERT
$red: #e45959;
$light-red: #503434;
$lighter-red: #473232;

$dark-yellow: #e99003;
$yellow: #a78820;
$light-yellow: #2f280a;
$lighter-yellow: #2f280a;

$green: #59db8f;
$light-green: #344e3f;
$lighter-green: #32453a;

$blue: #429ae3;

$disabled-bg-color: #2b2b2b;
$disabled-item-color: #808080;
$disabled-item-bg-color: #383838;

// MAIN
$main-nav-bg-color: #2b2b2b;
$main-subnav-bg-color: #454545;
$main-subnav-bg-selected-color: #2e2e2e;
$main-color: #2d3135;
$font-color: #f2f2f2;
$font-selected-color: #f2f2f2;
$font-alt-color: #737373;
$body-bg-color: #0e1012;
$overlay-bg-color: #000;

// UI
$ui-bg-color: #2b2b2b;
$ui-bg-selected-color: #4f4f4f;
$ui-hover-color: #383838;
$ui-border-color: #303030;
$ui-placeholder-background-color: darken($ui-hover-color, 15%);
$ui-highlighted-parent-background-color: darken($ui-hover-color, 10%);
$ui-sortable-helper-background-color: $ui-bg-color;
$ui-sortable-helper-border-color: $ui-border-color;

$action-hover-color: #454545;
$action-border-color: #383838;
$action-shadow-color: rgba(#000, 0.5);

$table-border-color: #383838;

$ui-tab-bg-selected-color: #69808d;

// FORMS
$form-font-color: #e1e3ed;
$form-bg-color: #383838;
$form-border-color: #4f4f4f;
$form-border-focus-color: #768d99;

$form-disabled-font-color: #525252;
$form-disabled-bg-color: #2b2b2b;
$form-disabled-border-color: #3d3d3d;

$scrollbar-track-color: #1f1f1f;
$scrollbar-thumb-color: #383838;

// ERROR MESSAGES
$msg-bad-color: darken(desaturate($red, 10%), 20%);
$msg-good-color: darken(desaturate($green, 10%), 20%);
$msg-warning-color: #a97d38;
$msg-warning-border-color: #614f32;

// BUTTONS
$btn-font-color: #f2f2f2;
$btn-bg-color: #69808d;
$btn-border-color: #768d99;

$btn-alt-font-color: #768d99;
$btn-alt-bg-color: transparent;
$btn-alt-border-color: $btn-border-color;

$btn-form-font-color: #f2f2f2;
$btn-form-bg-color: $form-bg-color;
$btn-form-hover-color: #414141;
$btn-form-border-color: $form-border-color;

$btn-disabled-font-color: #525252;
$btn-disabled-bg-color: transparent;
$btn-disabled-border-color: #3d3d3d;

$btn-back-map-background-color: rgba(0, 0, 0, 0.8);
$btn-back-text-color: white;
$btn-back-background-hover: #768d99;

// LINKS
$link-color: #4796c4;
$link-hover-color: #4796c4;
$link-active-color: #4796c4;
$link-visited-color: #4796c4;

$link-main-nav-color: rgba(#fff, 0.8);
$link-main-nav-hover-color: rgba(#fff, 1);
$link-main-nav-active-color: rgba(#fff, 1);
$link-main-nav-visited-color: rgba(#fff, 0.8);

$link-main-subnav-color: rgba(#fff, 0.8);
$link-main-subnav-hover-color: rgba(#fff, 1);
$link-main-subnav-active-color: rgba(#fff, 1);
$link-main-subnav-visited-color: rgba(#fff, 0.8);

// ANALOG CLOCK
$clock-face-color: #383838;
$clock-hand-color: #f2f2f2;
$clock-hand-sec-color: #69808d;
$clock-lines-color: #4f4f4f;

// STATUSES
$problem-unack-fg-color: #ff3333;
$problem-ack-fg-color: #ff3333;
$ok-unack-fg-color: #00ff00;
$ok-ack-fg-color: #00ff00;

// MULTISELECT
$multiselect-selected-bg-color: #696969;

.status-na-bg, .status-info-bg, .status-warning-bg, .status-average-bg, .status-high-bg, .status-disaster-bg {
	border-color: rgba($ui-bg-color, .2) !important;
}

.top-nav-help {
	background: url(../img/icon-sprite.svg) no-repeat -84px -32px !important;
}
.top-nav-profile {
	background: url(../img/icon-sprite.svg) no-repeat -84px -104px !important;
}
.top-nav-signout {
	background: url(../img/icon-sprite.svg) no-repeat -84px -140px !important;
}
.top-nav-zbbshare {
	background: url(../img/icon-sprite.svg) no-repeat -87px -68px !important;
}
.top-nav-support {
	background: url(../img/icon-sprite.svg) no-repeat -245px -32px !important;
}
.btn-search {
	background: url(../img/icon-sprite.svg) no-repeat -83px -7px !important;
}

.timeline-axis {
	border-right-color: darken(desaturate($btn-bg-color, 4%), 18%) !important;

	&::before {
		background-color: darken(desaturate($btn-bg-color, 4%), 18%) !important;
	}
}


// Important! @import string should come after variables
@import 'screen.scss';

.list-table {

	thead th {
		border-color: lighten($table-border-color, 3%);
	}
}

.top-subnav a {
	&:focus {
		border-bottom: 4px solid lighten($main-nav-bg-color, 30%) !important;
		outline: none;
	}
}

// TABLES
.list-table {
	&.compact-view {
		tr {
			&:hover {
				td {
					&.na-bg, &.info-bg, &.warning-bg, &.average-bg, &.high-bg, &.disaster-bg {
						color: black;
					}
				}
			}

			&[class*='flh-'] {
				td {
					box-shadow: inset 0 -1px 0 0 rgba(black, 0.1);
				}
			}
		}

		td {
			&.na-bg, &.info-bg, &.warning-bg, &.average-bg, &.high-bg, &.disaster-bg {
				color: black;
				box-shadow: inset 0 -1px 0 0 rgba(black, 0.1);
			}
		}
	}
}

// GRAPH AND MAP
.btn-back-map-container {
	.btn-back-map {
		.btn-back-map-icon {
			background-position: -85px -725px;
		}
	}
}

// TIME SELECTION
.ui-tabs-nav {
	.ui-tabs-active {
		.btn-time {
			&:after {
				background-position: -87px -583px;
			}
		}

		.filter-trigger {
			&:after {
				background-position: -87px -547px;
			}
		}
	}
}

.time-quick {
	li {
		a {
			&:focus {
				color: $white;
			}
		}
	}
}

.icon-action-msgs {
	&[data-count]::after {
		color: $font-selected-color;
	}
}
.icon-action-severity-up::before {
	background-position: -624px -245px;
}
.icon-action-severity-down::before {
	background-position: -649px -245px;
}
.icon-actions-number-gray {
	&[data-count]::after {
		color: $font-selected-color;
	}
}
