$theme_name: 'hc-light';

// NOTIFICATION & ALERT
$red: #990000;
$light-red: #cc0000;
$lighter-red: #cc0000;

$orange: #ed3400;

$dark-yellow: #af6b00;
$yellow: #a78820;
$light-yellow: #f4f4f4;
$lighter-yellow: #f4f4f4;

$green: #009900;
$light-green: #009900;
$lighter-green: #00cc00;

$blue: #111;

$disabled-bg-color: #f0f0f0;
$disabled-item-color: #fff;
$disabled-item-bg-color: #9f9f9f;

// MAIN
$main-nav-bg-color: #fff;
$main-subnav-bg-color: #000;
$main-subnav-bg-selected-color: #000;
$main-color: #fff;
$font-color: #000;
$font-selected-color: #fff;
$font-alt-color: #333;
$body-bg-color: #fff;
$overlay-bg-color: #000;

// UI
$ui-bg-color: #fff;
$ui-bg-selected-color: #333;
$ui-hover-color: #f4f4f4;
$ui-border-color: #9f9f9f;
$ui-placeholder-background-color: darken($body-bg-color, 10%);
$ui-highlighted-parent-background-color: darken($body-bg-color, 4%);
$ui-sortable-helper-background-color: $ui-bg-color;
$ui-sortable-helper-border-color: $ui-border-color;

$action-hover-color: #f4f4f4;
$action-border-color: #383838;
$action-shadow-color: rgba(#000, 0.5);

$table-border-color: #888;

$ui-tab-bg-selected-color: #888;

// FORMS
$form-font-color: #000;
$form-bg-color: #fff;
$form-border-color: #888;
$form-border-focus-color: #000;

$form-disabled-font-color: #9f9f9f;
$form-disabled-bg-color: #f0f0f0;
$form-disabled-border-color: #9f9f9f;

$scrollbar-track-color: #999;
$scrollbar-thumb-color: #f9f9f9;
$scrollbar-thumb-color-darken: 30%;

$input-placeholder-color: #777;

// ERROR MESSAGES
$msg-bad-color: $red;
$msg-good-color: $green;
$msg-warning-color: #b37e12;
$msg-warning-border-color: #ffb319;

// BUTTONS
$btn-font-color: #fff;
$btn-bg-color: #555;
$btn-border-color: #333;

$btn-alt-font-color: #000;
$btn-alt-bg-color: transparent;
$btn-alt-border-color: $btn-border-color;

$btn-form-font-color: #333;
$btn-form-bg-color: $form-bg-color;
$btn-form-hover-color: #f4f4f4;
$btn-form-border-color: $form-border-color;

$btn-disabled-font-color: #999;
$btn-disabled-bg-color: transparent;
$btn-disabled-border-color: #999;

$btn-back-map-background-color: rgba(0, 0, 0, 0.8);
$btn-back-text-color: white;
$btn-back-background-hover: #000;

// LINKS
$link-color: #555;
$link-hover-color: #000;
$link-active-color: #555;
$link-visited-color: #555;

$link-alt-underline-color: #808080;

$link-main-nav-color: rgba(#000, 0.8);
$link-main-nav-hover-color: rgba(#000, 1);
$link-main-nav-active-color: rgba(#000, 1);
$link-main-nav-visited-color: rgba(#000, 0.8);

$link-main-subnav-color: rgba(#fff, 0.8);
$link-main-subnav-hover-color: rgba(#fff, 1);
$link-main-subnav-active-color: rgba(#fff, 1);
$link-main-subnav-visited-color: rgba(#fff, 0.8);

// ANALOG CLOCK
$clock-face-color: #fff;
$clock-hand-color: #000;
$clock-hand-sec-color: #555;
$clock-lines-color: #555;

// STATUSES
$problem-unack-fg-color: #cc0000;
$problem-ack-fg-color: #cc0000;
$ok-unack-fg-color: #009900;
$ok-ack-fg-color: #009900;

// MULTISELECT
$multiselect-selected-bg-color: #777;

.status-na-bg, .status-info-bg, .status-warning-bg, .status-average-bg, .status-high-bg, .status-disaster-bg {
	border-color: rgba($ui-bg-color, .2) !important;
	background-color: $ui-bg-selected-color !important;
	color: $ui-bg-color !important;
}

// Important! @import string should come after variables
@import 'screen.scss';

// DASHBOARD
.dashbrd-grid-new-widget-placeholder {
	.dashbrd-grid-widget-new-box,
	.dashbrd-grid-widget-set-position,
	.dashbrd-grid-widget-set-size {
		box-shadow: none;
		border-color: $font-color;
		background-color: transparent;
	}

	.dashbrd-grid-widget-set-size {
		border: 2px dashed $font-color;
		box-shadow: none;
	}

	.dashbrd-grid-new-widget-label {
		&::before {
			background: url(../img/icon-sprite.svg) no-repeat -213px -888px;
		}
	}
}

.dashbrd-grid-widget-set-size {
	.dashbrd-grid-new-widget-label {
		&::before {
			background: url(../img/icon-sprite.svg) no-repeat -401px -888px;
		}
	}
}

// ICONS
$var-icons: (
	maint: url(../img/icon-sprite.svg) no-repeat -203px -802px,
	depend-up: url(../img/icon-sprite.svg) no-repeat -208px -730px,
	depend-down: url(../img/icon-sprite.svg) no-repeat -208px -766px,
	ackn: url(../img/icon-sprite.svg) no-repeat -203px -693px
);

@each $var-icons, $bgimage in $var-icons {
	.icon-#{$var-icons} {
		margin: 0 18px 0 0;
		&::before {
			background: $bgimage;
			@extend %var-icons;
		}
	}
}

$form-icon-btn: (
	help: url(../img/icon-sprite.svg) no-repeat -165px -726px,
	cal: url(../img/icon-sprite.svg) no-repeat -201px -834px,
	wzrd-action: url(../img/icon-sprite.svg) no-repeat -168px -617px
);

@each $form-icon-btn, $bgimage in $form-icon-btn {
	.icon-#{$form-icon-btn} {
		background: $transparent $bgimage;
		@extend %form-icon-btn;

		@if $form-icon-btn == 'wzrd-action' {
			margin-top: -16px;
		}
	}
}

$icon-widget-btn: (
	widget-action: url(../img/icon-sprite.svg) no-repeat -165px -618px,
	widget-collapse: url(../img/icon-sprite.svg) no-repeat -165px -654px,
	widget-expand: url(../img/icon-sprite.svg) no-repeat -165px -690px,
	widget-edit: url(../img/icon-sprite.svg) no-repeat -201px -619px,
	widget-delete: url(../img/icon-sprite.svg) no-repeat -201px -582px,
	alarm-on: url(../img/icon-sprite.svg) no-repeat -165px -546px,
	alarm-off: url(../img/icon-sprite.svg) no-repeat -165px -582px,
	sound-on: url(../img/icon-sprite.svg) no-repeat -165px -474px,
	sound-off: url(../img/icon-sprite.svg) no-repeat -165px -510px,
	info-clock: url(../img/icon-sprite.svg) no-repeat -246px -762px
);

@each $icon-widget-btn, $bgimage in $icon-widget-btn {
	.btn-#{$icon-widget-btn} {
		background: $bgimage;
		@extend %btn-widget;
	}
}

.top-nav-help {
	background: url(../img/icon-sprite.svg) no-repeat -162px -32px !important;
}
.top-nav-profile {
	background: url(../img/icon-sprite.svg) no-repeat -162px -104px !important;
}
.top-nav-signout {
	background: url(../img/icon-sprite.svg) no-repeat -162px -140px !important;
}
.top-nav-zbbshare {
	background: url(../img/icon-sprite.svg) no-repeat -165px -68px !important;
}
.top-nav-support {
	background: url(../img/icon-sprite.svg) no-repeat -245px -68px !important;
}
.btn-search{
	background: url(../img/icon-sprite.svg) no-repeat -162px -7px !important;
}
.btn-dashbrd-conf {
	background: url(../img/icon-sprite.svg) no-repeat -201px -619px !important;
}

.list-table {

	.subfilter-enabled {
		background-color: $ui-bg-color;
		box-shadow: 0 0 0 1px $link-hover-color;
	}

	thead th {
		border-color: lighten($table-border-color, 3%);
	}
}

.subfilter-enabled {

	.link-action {
		color: $link-hover-color;

		&:focus {
			color: $link-hover-color;
			border-bottom: 3px solid $link-hover-color;
		}

		&:hover {
			color: $link-hover-color;
			border-bottom: 1px solid $link-hover-color;
		}
	}
}

.timeline-axis {
	border-right-color: darken(desaturate($btn-bg-color, 4%), 18%) !important;

	&::before {
		background-color: darken(desaturate($btn-bg-color, 4%), 18%) !important;
	}
}

.menu-popup {

	.menu-popup-item-disabled {
		color: $form-disabled-font-color;
	}

	.menu-popup-item {
		&:hover,
		&:focus,
		&:active,
		&.highlighted {
			background-color: black;
			color: white;

			.arrow-right {
				border-left-color: white;
			}

			&.selected {

				&::before {
					background: url(../img/icon-sprite.svg) no-repeat -317px -835px;
				}
			}
		}

		&.selected {

			&::before {
				background: url(../img/icon-sprite.svg) no-repeat -164px -835px;
			}
		}
	}
}

ul.top-nav-icons {
	input {
		border: 1px solid $form-border-color !important;
		background-color: $form-bg-color !important;

		&:focus {
			border: 1px solid $main-subnav-bg-color !important;
		}
	}
}

.add-child-btn {
	background: url(../img/icon-sprite.svg) no-repeat -206px -551px !important;
}
.edit-item-btn {
	background: url(../img/icon-sprite.svg) no-repeat -206px -478px !important;
}
.import-items-btn {
	background: url(../img/icon-sprite.svg) no-repeat -206px -515px !important;
}
.drag-icon {
	background: url(../img/icon-sprite.svg) no-repeat -165px -762px !important;
}

// COLORS AND GENERAL

button {
	&:focus {
		@include box-shadow(0 0 0 2px rgba($blue, 1));
		background-color: lighten($btn-bg-color, 10%)
	}
}

.btn-alt {
	&:focus {
		@include box-shadow(0 0 0 2px rgba($blue, 1));
	}
}

.radio-list-control {

	.average-bg,
	.disaster-bg,
	.high-bg,
	.info-bg,
	.na-bg,
	.warning-bg {

		&:before,
		&:after {
			display: none;
		}
	}

	li {

		input[type="radio"] {

			&:checked:not([disabled]) + label {
				color: $white;
			}

			&:checked + label {
				background-color: $ui-bg-selected-color !important;
			}

			&:focus + label {
				@include box-shadow(0 0 0 2px rgba($blue, 1) !important);
				background-color: lighten($btn-bg-color, 10%) !important;
				color: $white;
			}

			&:checked[disabled] + label {
				background-color: #d3d3d3 !important;
			}
		}
	}
}

a {
	&:link {
		border-bottom: 1px solid rgba($link-hover-color, 0.5);
	}
	&:visited {
		border-bottom: 1px solid $link-hover-color;
	}
	&:hover {
		border-bottom: 1px solid $link-hover-color;
	}
	&:focus {
		border-bottom: 3px solid $link-hover-color;
	}
}

a.link-action {
	border-bottom: 1px dotted;
		&:hover {
			border-bottom: 1px solid $link-hover-color;
	}
}

.link-action {
	&:hover {
		color: $link-hover-color;
		border-bottom: 1px solid $link-hover-color;
	}

	&:active {
		color: $link-hover-color;
		border-bottom: 1px dotted $link-hover-color;
	}

	&:focus {
		color: $link-hover-color;
		border-bottom: 3px solid $link-hover-color;
	}
}

.link-alt {
	&:link {
		border-bottom: 1px solid $link-alt-underline-color;
	}

	&:visited {
		border-bottom: 1px solid $link-alt-underline-color;
	}

	&:hover {
		color: $link-hover-color;
		border-bottom: 1px solid $link-hover-color;
	}

	&:focus {
		color: $link-hover-color;
		border-bottom: 3px solid $link-hover-color;
	}

	&:active {
		color: $link-active-color;
		border-bottom: 1px solid $link-active-color;
	}
}

.top-nav {
	a {
		&:focus {
			color: $link-main-nav-active-color;
			background-color: darken($ui-hover-color, 3%) !important;
			@include box-shadow(0 0 0 2px $blue);
			@include transition(box-shadow .2s ease-out);
		}
	}
}

.top-subnav a {

	&.selected {
		font-weight: bold;
		border-bottom: 4px solid #fff;
	}

	&:focus {
		color: $link-main-subnav-active-color;
		padding: 8px 0 4px 0;
		border-bottom: 4px solid rgba($ui-hover-color, .8);
		outline: none;
	}
}

ul.top-nav-icons {
	a {
		&:focus {
			background-color: darken($ui-hover-color, 3%) !important;
			@include box-shadow(0 0 0 2px $blue);
			@include transition(box-shadow .2s ease-out);
		}
	}
}

.filter-breadcrumb {

	li,
	> li:first-child {

		> span a:focus {
			margin-bottom: -2px;
		}
	}

	> li {

		> span a:focus {
			line-height: 12px;
		}
	}
}

.server-name {
	color: $link-main-subnav-color;
}

.status-dark-grey {
	border: none !important;
	background-color: #666 !important;
}

.btn-link {
	font-weight: bold !important;
	color: #000 !important;

	&:focus {
		margin-bottom: -3px !important;
		border-bottom: 3px solid $link-hover-color !important;
	}
}

.table-paging {
	a {
		&:focus {
			background-color: #777 !important;
		}
	}
}

.paging-selected {
	&:focus {
		background-color: #777 !important;
	}
}

.filter-trigger {
	.arrow-down {
		border-top-color: #FFF !important;
	}
}

.top-subnav a {
	&.selected {
		font-weight: bold;
	}
}

.disabled {
	@include opacity(0.5);
}

.multiselect {

	.multiselect-list {

		li.selected {

			.subfilter-enabled,
			.subfilter-disable-btn,
			.subfilter-disable-btn:active {
				@include box-shadow(0 0 0 1px rgba($blue, 1));
			}
		}
	}
}

.header-logo {
	&:focus {
		@include box-shadow(0 0 0 2px $blue);
		@include transition(box-shadow .2s ease-out);
	}
}

.checkbox-radio {
	&:focus + label span {
		@include box-shadow(0 0 0 1px $blue);
		@include transition(box-shadow .2s ease-out);
	}
}

%form-input-style {
	&:focus {
		@include box-shadow(0 0 0 1px $blue);
		@include transition(box-shadow .2s ease-out);
	}
}

.multiselect {
	&.active {
		@include box-shadow(0 0 0 1px $blue);
		@include transition(box-shadow .2s ease-out);
	}
	input[type="text"]{
		&:focus {
			box-shadow: none;
		}
	}
}

.multiselect-suggest {
	li {
		&.suggest-hover {
			color: white;
			background-color: black;

			.grey {
			color: gainsboro;
			}

			.suggest-found {
				color: lighten($alt-yellow, 10%);
			}
		}
	}
}

.suggest-found {
	color: darken($dark-yellow, 10%);
}

.dashbrd-widget-graph-link {

	&:focus {

		&:after {
			background: $blue;
			height: 3px;
			bottom: -3px;
		}
	}
}

// Tables

.list-table {
	&.compact-view {

		.flh-na-bg, .flh-info-bg, .flh-warning-bg, .flh-average-bg, .flh-high-bg, .flh-disaster-bg {
			&:not(.row-selected):not(:hover) {
				background: none;
			}
		}

		td.na-bg, td.normal-bg, td.info-bg, td.warning-bg, td.average-bg, td.high-bg, td.disaster-bg {
			&:before {
				min-height: 20px;
				box-shadow: inset 0 -1px 0 0 $table-border-color;
			}
		}

		td.na-bg, td.normal-bg, td.info-bg, td.warning-bg, td.average-bg, td.high-bg, td.disaster-bg {
			&:after {
				top: 1px;
				transform: scale(0.8);
			}
		}

		td {

			box-shadow: inset 0 -1px 0 0 $table-border-color;

			.icon-maint::before {
				background-position: -206px -804px;
			}

			.icon-wzrd-action {
				background: transparent url(../img/icon-sprite.svg) no-repeat -165px -624px;
			}
		}
	}
}

// Checkbox disabling

.filter-highlight-row-cb {
	display: none;
}

// SEVERITY STATUSES

.na-bg,
.normal-bg,
.info-bg,
.average-bg,
.warning-bg,
.high-bg,
.disaster-bg,
.log-na-bg,
.log-info-bg,
.log-warning-bg,
.log-high-bg,
.log-disaster-bg {
	background-color: rgba(0, 0, 0, 0.0) !important;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		min-height: 28px;
		width: 34px;
	}

	&:after {
		background: url(../img/icon-sprite.svg) no-repeat;
		content: "";
		position: absolute;
		left: 6px;
		top: 5px;
		width: 22px;
		height: 18px;
	}
}

.na-bg:after, .log-na-bg:after {
	background-position: -106px -411px;
}

.normal-bg:after {
	background-position: -76px -411px;
}

.info-bg:after, .log-info-bg:after {
	background-position: -136px -411px;
}

.average-bg:after {
	background-position: -196px -410px;
}

.warning-bg:after, .log-warning-bg:after {
	background-position: -166px -411px;
}

.high-bg:after, .log-high-bg:after {
	background-position: -226px -411px;
}

.disaster-bg:after, .log-disaster-bg:after {
	background-position: -256px -411px;
}

.na-bg,
.log-na-bg,
.normal-bg {

	&:before {
		background-color: $alt-green;
	}
}

.na-bg,
.normal-bg,
.info-bg,
.average-bg,
.warning-bg,
.high-bg,
.disaster-bg {

	&.blink-hidden:after {
		content: none;
	}

	a.link-action {
		color: $link-color;
	}
}

@each $class, $color in (
	na-bg: $alt-blue-grey,
	info-bg: $alt-dark-blue,
	warning-bg: $alt-yellow,
	high-bg: $alt-dark-orange,
	disaster-bg: $alt-red
) {
	.log-#{$class}:before {
		color: darken($color, 45%) !important;
		background-color: $color !important;
	}
}

td.na-bg,
td.normal-bg,
td.info-bg,
td.average-bg,
td.warning-bg,
td.high-bg,
td.disaster-bg,
td.log-na-bg,
td.log-info-bg,
td.log-warning-bg,
td.log-high-bg,
td.log-disaster-bg {
	padding-left: 42px;
	color: $font-color;
}

.notif-body {
	h4 {
		padding-bottom: 3px;
		margin-bottom: -3px;
	}

	p {
		margin: 0.25em 0 2px 0;
	}

	li {
		padding: 0 0 10px 42px;
	}
}

.notif-indic {
	width: 34px;
	height: 27px;
	position: relative;
	margin: 0 0 0 -42px;
}

.notif-indic-container {
	margin: 0 0 0 -42px;
}

td.inactive-bg {
	padding-left: 42px !important;
	color: $font-color;
}

.inactive-bg {
	background-color: rgba(0, 0, 0, 0.0) !important;
}

.inactive-bg:before {
	content: "";
	width: 34px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	min-height: 28px;
	background-color: $alt-red;
}

.inactive-bg:after {
	content: "";
	background: url(../img/icon-sprite.svg) no-repeat -256px -411px;
	width: 22px;
	height: 18px;
	top: 5px;
	left: 6px;
	position: absolute;
}

// ERROR MESSAGES
.msg-bad,
.msg-good,
.msg-warning {

	.link-action:hover {
		color: $link-hover-color;
	}
}

// GRAPH AND MAP
.graph-selection {
	background-color: rgba($font-color,0.1);
	border: none;
	outline: 2px solid rgba($font-color,0.6);
}
.svg-graph-selection {
	fill: rgba($font-color,0.1);
	stroke: rgba($font-color,0.6);
	stroke-width: 2px;
}

.ui-selectable-helper {
	background-color: rgba($font-color,0.1);
	border: 2px solid rgba($font-color,0.6);
}

.map-element-selected {
	border: 3px dashed $font-color;
}

// Multiline input control.
.multilineinput-control {

	button {

		&:after {
			background-position: -206px -478px;
		}

		&:focus:after {
			background-position: -206px -478px;
		}
	}
}

.btn-back-map-container {

	a {
		border-bottom: none;
	}

	.btn-back-map {

		.btn-back-map-icon {
			background-position: -85px -725px;
		}
	}
}

// TIME SELECTION
.ui-tabs-nav {
	.btn-time,
	.filter-trigger {
		&:hover {
			background-color: darken($btn-bg-color, 10%);
		}

		&:focus {
			@include box-shadow(0 0 0 2px rgba($blue, 1));
			background-color: lighten($btn-bg-color, 10%);
		}
	}

	.ui-state-focus {
		.btn-time,
		.filter-trigger {
			@include box-shadow(0 0 0 2px rgba($blue, 1));
			background-color: lighten($btn-bg-color, 10%);
		}

		&.ui-tabs-active {
			.btn-time,
			.filter-trigger {
				@include box-shadow(0 0 0 2px rgba($blue, 1));
				background-color: $ui-hover-color;
				border-color: $ui-hover-color;
			}
		}
	}
}

.btn-time-left {
	background-position: -244px -657px;

	&:disabled {
		background-position: -244px -657px;
	}
}

.btn-time-right {
	background-position: -242px -623px;

	&:disabled {
		background-position: -242px -623px;
	}
}

.btn-time-right,
.btn-time-left {
	&:hover,
	&:focus {
		@include btn-hover-active($btn-font-color, $btn-bg-color);
	}

	&:focus {
		background-color: lighten($btn-bg-color, 10%);
	}
}

.time-quick {
	li {
		a {
			&:focus {
				@include box-shadow(0 0 0 2px rgba($blue, 1));
				@include border-radius(2px);
			}
		}
	}
}

.icon-action-command::before {
	background-position: -249px -325px;
}
.icon-action-close::before {
	background-position: -224px -325px;
}
.icon-action-msg::before {
	background-position: -299px -285px;
}
.icon-action-severity-up::before {
	background-position: -349px -285px;
}
.icon-action-severity-down::before {
	background-position: -375px -285px;
}
.icon-action-severity-changed::before {
	background-position: -399px -285px;
}
.icon-action-message::before {
	background-position: -199px -285px;
}
.icon-action-ack::before {
	background-position: -323px -285px;
}
.icon-invisible::before {
	background-position: -249px -803px;
}
.icon-problem-generated::before {
	background-position: -449px -285px;
}
.icon-problem-recovery::before {
	background-position: -424px -285px;
}
.icon-action-msgs {
	&::before {
		background-position: -474px -285px;
	}
}
.icon-actions-number-gray {
	&::before {
		background-position: -499px -285px;
	}
}
.icon-actions-number-yellow {
	&::before {
		background-position: -549px -285px;
	}
}
.icon-actions-number-red {
	&::before {
		background-position: -524px -285px;
	}
}

// OVERRIDES
.overrides-options-list {
	> li > div {
		background-color: $ui-bg-selected-color !important;

		> .subfilter-disable-btn {
			border: none !important;
			top: 0;
		}
	}
}
